*{
    margin:0;
    padding:0;
}
body{
    background-image: url(img/sac.jpg);
    background-size: cover;
}

nav{
    width:100%;
    height: 60px;
    background-color:black;
}

nav p {
    font-family:Courier;
    color:yellow;
    font-size: 30px;
    font-weight: 100px;
    font-style:italic;
    line-height: 50px;
    float:left;
     padding:0px;
}

nav ul {
    float:left
}

nav ul li {
    float:left; /*  to bring the list one after other to left */
    list-style: none;
    position:relative; /*  this allows to apply position absolute to sub item inside nav */
}

nav ul li a{  /*  applying to the text of the nav */
    display:block;
  font-family: cursive;  
  color:white;
  font-size: 20px;
  padding:10px 20px;
  text-decoration: none;
}

nav ul li ul  {  /*  targeting the ul inside the About  */
    display:none; /*  hides the list of the ul inside the About  */
    position:absolute; /*  makes the sub list in block style bacause parent(first ul) is in relative  */
    background-color:black;
    padding:10px;
    margin-top:0px;
    border-radius: 0px 0px 10px 10px;
    
  
}

nav ul li:hover ul {  /*  it applies the hover to list item(About) but doesnot effect to ul inside the about  */
    display:block;
}
nav ul li ul li a { /*  targeting the text in the a tag of the sub item */
    padding:5px 5px;
}

nav ul li ul li a:hover { /*  targeting the text in the a tag of the sub item to put hover */
    background-color:darkgrey;
}
nav ul li a:hover{
    background-color: lightgray;
    color:green;
}

h1,p{
    text-align: center;
    font-size: 30px;
}

address{
    text-align: center;
    padding-top:100px;
    font-size: 30px;
    color:white;

}




footer{
    text-align: center;
    color:white;
    font-size: 15px;
    padding-top: 200px;
    color:white;
   
}